<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Health Clinic</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/MAS.Project.styles.css" asp-append-version="true"/>
</head>
<body>

<div class="modal fade" id="bookServiceModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">
                    Book a service
                </h1>
                <button class="btn-close" type="button" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="row mb-3">
                        <label for="TODO" class="col-sm-3 col-form-label">
                            Service:
                        </label>
                        <div class="col-sm">
                            <select class="form-select">
                                <option selected value="@null">Choose a service</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="TODO" class="col-sm-3 col-form-label">
                            Specialist:
                        </label>
                        <div class="col-sm">
                            <select class="form-select">
                                <option selected value="@null">Choose a specialist</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="TODO" class="col-sm-3 col-form-label">
                            Date range:
                        </label>
                        <div class="col-sm">
                            <div class="input-group">
                                <input type="date" class="form-control">
                                <span class="input-group-text">
                                    <i class="bi bi-arrow-right-short"></i>
                                </span>
                                <input type="date" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="TODO" class="col-sm-3 col-form-label">
                            Time range:
                        </label>
                        <div class="col-sm">
                            <div class="input-group">
                                <input type="time" class="form-control" >
                                <span class="input-group-text">
                                    <i class="bi bi-arrow-right-short"></i>
                                </span>
                                <input type="time" class="form-control">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">
                    Close
                </button>
                <button class="btn btn-primary" type="button">
                    Search
                </button>
            </div>
        </div>
    </div>
</div>

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">Health Clinic</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1 d-flex gap-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="">Previous Visits</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#bookServiceModal">
                            Book a service
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2023 - Health Clinic - MAS Project - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
